.custom-bg {
  background-image: url('../images/background.svg'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
}
/* Estilo da navbar */
/* Adicionar imagem de fundo ao navbar */

/* Estilo adicional para o logotipo */
.navbar-logo {
  z-index: 2; /* Garante que o logotipo fique sobre o fundo */
  margin: auto; /* Centraliza o logotipo horizontalmente */
  transform: translateY(-19x); /* Ajuste fino para centralização */
}


.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.card {
  width: 200px;
  height: 150px;
  background-color: transparent;
  border-radius: 8px;
  padding: 50px;
  text-align: center;
}

.social-icon img {
  transition: transform 0.1s ease-in-out; /* Transição suave para o efeito de movimento */
}

.social-icon img:hover {
  transform: translateY(-5px); /* Move levemente para cima ao passar o mouse */
}

/* Efeito hover para imagens maiores */
.manual-img:hover {
  transform: translateY(-10px); /* Move a imagem para cima */
}


/* Ícone maior */
.large-icon {
  width: 100px; /* Aumenta o tamanho do ícone */
  height: auto; /* Mantém a proporção */
}

/* Botão menor */
.btn-sm {
  font-size: 0.85rem;
  padding: 5px 10px;
}

.large-icon {
  width: 100px; 
  height: 100px; 
  object-fit: contain; 
}

/* Responsividade para imagens maiores */
@media (max-width: 768px) {
  .icon-container img {
    width: 300px; /* Reduz o tamanho para telas menores */
  }
}

@media (max-width: 576px) {
  .icon-container img {
    width: 200px; /* Ajuste adicional para dispositivos pequenos */
  }
}

/* Responsividade */
@media (max-width: 576px) {
  .large-icon {
    width: 80px; /* Diminui o tamanho do ícone para telas pequenas */
  }
}