.custom-bg {
  background-image: url('../images/background.svg'); /* Caminho da imagem */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.navbar {
  background-image: url('../images/navbarbackground.png'); /* Caminho para a imagem de fundo */
  background-size: cover; /* A imagem cobre todo o espaço */
  background-position: center; /* Centraliza a imagem no navbar */
  height: 200px; /* Altura do navbar, ajustável */
  display: flex;
  align-items: center; /* Centraliza o conteúdo verticalmente */
}

.container-fluid img{
  padding-right: 20px;
}

.icon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon-container img {
  width: 500px; /* Tamanho inicial das imagens maiores */
  height: auto;
  transition: transform 0.3s ease-in-out; /* Apenas movimento */
}

.icon-container{
  box-shadow: black;
}

.row {
  gap: 35px; /* Espaçamento entre as imagens */
}

.social-icon img {
  transition: transform 0.1s ease-in-out; /* Transição suave para o efeito de movimento */
}

.social-icon img:hover {
  transform: translateY(-5px); /* Move levemente para cima ao passar o mouse */
}


/* Card menor */
.smaller-card {
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

/* Ícone maior */
.large-icon {
  width: 100px; /* Aumenta o tamanho do ícone */
  height: auto; /* Mantém a proporção */
}

/* Título menor */
.card-title {
  font-size: 1rem; /* Ajusta o tamanho da fonte */
  font-weight: bold;
}

/* Botão menor */
.btn-sm {
  font-size: 0.85rem;
  padding: 5px 10px;
}

h2{
 text-align: center;
}

.section {
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 20px;
  text-align: center;
  flex: 1;
  text-align: center;
  margin: 10px;
  width: 200px;
  height: auto;
}

.section:hover{
  background-color: #797d7f;
  cursor: pointer;
}

.section img{
  width: 150px;
  height: auto;
}

/* Responsividade (opcional) */
@media (max-width: 768px) {
  .container {
    flex-direction: column; /* Empilha as divs em colunas para telas menores */
  }
}
@media (max-width: 768px) {
  .icon-container img {
    width: 300px; /* Reduz o tamanho para telas menores */
  }

  .large-icon {
    width: 80px; /* Diminui o tamanho do ícone para telas pequenas */
  }

  .icon-container img {
    width: 200px; /* Ajuste adicional para dispositivos pequenos */
  }
}