.custom-bg {
  background-image: url('../images/background.svg'); /* Caminho da imagem */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.navbar {
  background-size: cover; /* A imagem cobre todo o espaço */
  background-position: center; /* Centraliza a imagem no navbar */
  height: 8rem;
  display: flex;
  align-items: center; /* Centraliza o conteúdo verticalmente */
  background-color: #222 !important; /* Fundo escuro para destacar o branco */
  padding: 1rem; /* Ajuste do padding */
}

.navbar-nav .nav-link {
  color: white !important; /* Deixa o texto branco */
  font-size: 1.1rem; /* Aumenta um pouco a fonte */
  font-weight: 500; /* Deixa o texto um pouco mais encorpado */
}

.navbar-nav .nav-link:hover {
  color: #f8f9fa !important; /* Leve mudança para um branco mais claro */
  text-decoration: underline;
}

.container-fluid img{
  padding-right: 20px;
}

.social-icon img {
  transition: transform 0.1s ease-in-out; /* Transição suave para o efeito de movimento */
}

.social-icon img:hover {
  transform: translateY(-5px); /* Move levemente para cima ao passar o mouse */
}


/* Card menor */
.smaller-card {
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

/* Ícone maior */
.large-icon {
  width: 100px; /* Aumenta o tamanho do ícone */
  height: auto; /* Mantém a proporção */
}

/* Título menor */
.card-title {
  font-size: 1rem; /* Ajusta o tamanho da fonte */
  font-weight: bold;
}

/* Botão menor */
.btn-sm {
  font-size: 0.85rem;
  padding: 5px 10px;
}

h2{
 text-align: center;
}

.section {
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 20px;
  text-align: center;
  flex: 1;
  text-align: center;
  margin: 10px;
  width: 200px;
  height: auto;
  background-color: #ccc;
  box-shadow: 4px 4px 10px black;
}

.section p{
  font-size: large;
  color: black;
  font-weight: bold;
  text-align: center;
}

.section:hover{
  background-color: #797d7f;
  cursor: pointer;
}

.section img{
  width: 150px;
  height: auto;
}

.section a{
  text-decoration: none;
  color: inherit;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column; /* Empilha as divs em colunas para telas menores */
  }

  .icon-container img {
    width: 300px; /* Reduz o tamanho para telas menores */
  }

  .large-icon {
    width: 80px; /* Diminui o tamanho do ícone para telas pequenas */
  }

  .icon-container img {
    width: 200px; /* Ajuste adicional para dispositivos pequenos */
  }

  .navbar{
    height: auto;
  }

  .navbar img {
    width: 150px; /* Reduz o tamanho do logotipo em telas menores */
  }

  .navbar-nav {
    text-align: center; /* Centraliza os itens do menu */
  }

  .navbar-toggler {
    margin-left: auto; /* Alinha o botão ao lado direito */
  }

  .dropdown-menu {
    text-align: left; /* Garante alinhamento adequado para submenus */
  }
}

@media (max-width: 576px) {
  img {
    width: 120px; /* Tamanho ainda menor para telas muito pequenas */
  }

  .navbar {
    padding: 0.5rem 1rem; /* Ajusta o espaçamento geral */
    height: auto;
  }
}